<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras.spring-security"
        layout:decorate="~{layout}">
<head>
    <title th:text="${(mode=='add')?'Add Course':'Save Course'}">Event Add</title>
</head>
<body layout:fragment="body">
<style>
    .main {
        /*padding: 80px 5px;*/
    }
    .panel {
        float: left;
        width: 50%;
        padding: 5px;
    }
    .playerPanel {
        font-size: small;
    }

    .btn-sml {
        text-align-all: inherit;
        font-size: small;
    }

</style>

<div class="container">
    <div class="main" th:object="${course}">
        <form id="course-form" method="post" th:action="${(mode == 'add')?'/courses/add':'/courses/'+course.id+'/edit'}" th:object="${course}" class="form-horizontal" role="form">
            <div class="row">

                <div class="col-md-7">
                    <div th:if="${#fields.hasAnyErrors()}">
                        <div class="alert alert-danger">
                            <ul>
                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                            </ul>
                        </div>
                    </div>
                    <div th:if="${param.success}">
                        <div class="alert alert-info">Changes saved.</div>
                    </div>
                    <div>

                        <div class="card">
                            <div class="card-header  bg-primary">
                                <h3 class="text-center text-light" th:text="${(mode =='add')?'Add Course':'Edit Course'}">Save</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <div class="mb-3">
                                        <i>
                                            <input type="hidden" th:field="*{id}" /><div th:text="*{id}"></div>
                                        </i>
                                    </div>
                                    <div class="mb-3">
                                        <label for="name" class="control-label">Name</label>
                                        <input type="text" autofocus
                                               id="name"
                                               name="name"
                                               class="form-control"
                                               placeholder="- enter the course name here"
                                               th:field="*{name}"
                                        />
                                        <p th:errors="*{name}" class="text-danger"
                                           th:if="${#fields.hasErrors('name')}">
                                        </p>
                                    </div>

                                    <div class="mb-3">
                                        <label for="phone" class="control-label">Phone</label>
                                        <input type="text"
                                               id="phone"
                                               name="phone"
                                               class="form-control"
                                               placeholder="-enter the courses phone # here"
                                               th:field="*{phone}"
                                        />
                                        <p th:errors="*{phone}" class="text-danger"
                                           th:if="${#fields.hasErrors('phone')}">
                                        </p>
                                    </div>

                                    <div class="mb-3">
                                        <label for="maxPlayersPerGroup" class="control-label">Max Players per Group</label>
                                        <input type="text"
                                               id="maxPlayersPerGroup"
                                               name="maxPlayersPerGroup"
                                               class="form-control"
                                               placeholder="-enter max_group_size allowed at this course here"
                                               th:field="*{maxPlayersPerGroup}"
                                        />
                                        <p th:errors="*{maxPlayersPerGroup}" class="text-danger"
                                           th:if="${#fields.hasErrors('maxPlayersPerGroup')}">
                                        </p>
                                    </div>

                                    <div class="mb-3">
                                        <label for="address" class="control-label">Address</label>
                                        <input type="text"
                                               id="address"
                                               name="address"
                                               class="form-control"
                                               placeholder="-enter address here"
                                               th:field="*{address}"
                                        />
                                        <p th:errors="*{address}" class="text-danger"
                                           th:if="${#fields.hasErrors('address')}">
                                        </p>
                                    </div>



                                    <div>
                                        <a class="btn btn-secondary" th:href="@{/courses}">Close</a>
                                        <button type="submit" style="float:right;" class="btn btn-primary" th:text="${(mode=='add')?'Add Course':'Save Course'}">Add</button>                                        </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end row -->
        </form>
    </div>
</div>
<script>
    $(document).ready(function() {

        $("#course-form").validate({
            rules:{
                name: {
                    required: true,
                    normalizer: function(value){
                        return $.trim(value);
                    }
                },
                phone: {
                    required: true,
                    phoneUS: true,
                    normalizer: function(value){
                        return $.trim(value);
                    }
                },
                maxPlayersPerGroup: {
                    required: true
                    , digits: true
                    , min: 4
                    , max: 5
                },
                address: {
                    required: true,
                    normalizer: function(value){
                        return $.trim(value);
                    }
                }

            },
            messages: {
                name: {
                    required: "Name should not be empty."
                },
                phone: {
                    required: "Phone should not be empty. ",
                    phoneUS: "Please enter a valid US phone number"
                },
                address: {
                    required: "Address should not be empty."
                },

                maxPlayersPerGroup: {
                    required: "Max players should not be empty.",
                    digits: "Numbers only, please.",
                    min: "Must be 4 or 5.",
                    max: "Must be 4 or 5."
                }
            },
            submitHandler: function (form){
                // return false;
                form.submit();
            }
        });

    });


</script>
</body>