<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras.spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Courses</title>
</head>
<body layout:fragment="body">
<style>
    .main {
        padding: 80px 5px;
    }

</style>
<div class="main">

    <div class="card">
        <div class="card-header  bg-primary">
            <h3 class="text-center text-light" th:text="Courses"></h3>
        </div>
        <div class="card-body">
            <div th:if="${param.success}">
                <div class="alert alert-info">Changes saved.</div>
            </div>
            <a class="nav-link btn btn-primary text-light" th:href="@{/courses/add}" sec:authorize="hasRole('ROLE_ADMIN')">Add New Course  <i class="fa-solid fa-plus"></i></a>
            <table class="table table-striped table-bordered table-hover table-light">
                <thead class="table-header">
                    <tr>
                        <th>Name</th>
                        <th>Telephone</th>
                        <th>Max Players/Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="course: ${courses}">
                        <td th:text="${{course.name}}"></td>
                        <td th:text="${course.phone}"></td>
                        <td th:text="${course.maxPlayersPerGroup}"></td>
                        <td><a class="nav-link btn-sm btn-primary text-light" th:href="@{/courses/{id}(id=${course.id})}">Edit  <i class="fa-solid fa-pen"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>