<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email (forgot password)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{greeting(${name})}">
    Hello, Peter Static!
</p>
<p>
    You have requested to reset your password on
    <span th:text="${#dates.format(resetDate)}">28-12-2012</span>.
</p>
<p>Click this link to change your password: </p>
<p><b><a th:href="${link}">Change my Password</a></b></p>

<p>
    Regards, <br />
    &emsp; <em>Billy Club Support</em>
</p>
</body>
</html>
