<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email (new event)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{greeting-newevent}">
    Hello, Peter Static!
</p>
<p>
    A new event has been created for <span th:text="${eventDate}">12/28/2012</span>.
    Follow link to sign up now or risk going on the waiting list.
</p>
<p>Sign up as soon as possible, as unused tee times are returned on Friday.</p>
<p><b><a th:href="${link}">New Event on <span th:text="${eventDate}">12/28/2012</span></a></b></p>

<p>
    Regards, <br />
    &emsp; <em>Billy</em>
</p>
</body>
</html>
