<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras.spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Events</title>
</head>
<body layout:fragment="body">
<style>
    .main {
        padding: 80px 5px;
    }

</style>
<div class="main">

    <div class="card">
        <div class="card-header bg-primary">
            <h3 class="text-center text-light" th:text="${current}?'Current Events':'Past Events'"></h3>
        </div>
        <div class="card-body">
            <a class="nav-link btn btn-sm btn-primary text-light" th:if="${current}"
               th:href="@{/events/add}" sec:authorize="hasRole('ROLE_ADMIN')">Add Event <i class="fa-solid fa-plus"></i></a>
            <table class="table-sm table-responsive-sm table-striped table-bordered table-hover table-light">
                <thead class="table-header">
                    <tr>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>Course</th>
                        <th># Tee Times</th>
                        <th># Players</th>
                        <th># Wait List</th>
                        <th>Status</th>
                        <th style="width: 12%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="event: ${events}" class="d-sm-table-row">
                        <td th:text="${{event.eventDate}}"></td>
                        <td th:text="${{event.startTime}}"></td>
                        <td th:text="${{event.course.name}}"></td>
                        <td th:text="${event.numOfTimes}"></td>
                        <td th:text="${event.players.size}"></td>
                        <td th:text="${event.numberWaitlist}"></td>
                        <td th:text="${event.status}"></td>
                        <td><a class="nav-link btn-sm btn-primary text-light" th:href="@{/events/{id}(id=${event.id}, current=${current})}">Details <i class="fa-solid fa-circle-info"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>