<form th:action="@{/events/{id}/edit(id=${event.id})}" method="post" th:object="${event}" id="edit-event-modal-form">

<div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5 text-light" id="editEventModalLabel">Edit Event</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <div class="col-6">
                        <div th:text="${event.id}" style="font-style: italic"/>
                        <div class="mb-3">
                            <label for="course" class="control-label">Course</label>
                            <div class="mb-3">
                                <select name="course" id="course" th:field="*{course}" class="form-control">
                                    <option th:each="courseOpt : ${courses}"
                                            th:value="${courseOpt.id}" th:text="${courseOpt.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="eventdate" class="control-label">Event Date</label>
                            <input type="text"
                                   id="eventdate"
                                   name="eventdate"
                                   class="form-control"
                                   placeholder="Event Date"
                                   th:field="*{eventDate}"
                                   style="font-weight: bolder"
                            />
                            <p th:errors="*{eventDate}" class="error"
                               th:if="${#fields.hasErrors('eventDate')}">
                            </p>


                        </div>
                        <div class="mb-3">
                            <label for="starttime" class="control-label">Start Time</label>
                            <input type="text"
                                   id="starttime"
                                   name="starttime"
                                   class="form-control"
                                   placeholder="Start Time"
                                   th:field="*{startTime}"
                                   required
                            />
                            <p th:errors="*{startTime}" class="error"
                               th:if="${#fields.hasErrors('startTime')}">
                            </p>
                        </div>
                        <div class="mb-3">
                            <label for="numOfTimes" class="control-label"># of Tee Times</label>
                            <input type="text"
                                   id="numOfTimes"
                                   name="numOfTimes"
                                   class="form-control"
                                   placeholder="# of Times"
                                   th:field="*{numOfTimes}"
                                   required
                             />
                            <p th:errors="*{numOfTimes}" class="error"
                               th:if="${#fields.hasErrors('numOfTimes')}">
                            </p>

                        </div>
                        <div class="mb-3">
                            <label for="status" class="control-label">Status</label>
                                <select name="status" id="status" th:field="*{status}" class="form-control ">
                                    <option th:each="statusOpt : ${T(com.billyclub.points.model.EventStatus).values()}"
                                            th:value="${statusOpt.name}" th:text="${statusOpt.name}"></option>
                                </select>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="float: left; margin: 15px;">Cancel</button>
                    <button type="submit" class="btn btn-primary" style="float: right; margin: 15px;">Save</button>
            </div>
        </div>
    </div>
</div>
</form>
