<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras.spring-security"
        layout:decorate="~{layout}">
<head>
    <title>Pick Teams</title>
</head>
<body layout:fragment="body">
<style>
    .playerPanel {
        vertical-align: center;
        /*margin-top: 70px;*/
    }
 .drag-player {
     margin: 2px;
     padding: 5px;
     font-weight: bold;
     background-color: #aaaaaa;
     border: black 2px double;
     /*height: 0.95rem;*/
 }
 /*.drag-player div.dragging {*/
 /*    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);*/
 /*    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);*/
 /*    box-shadow: 0 0 .5em rgba(0, 0, 0, .8);*/
 /*}*/
 /*.dragging {*/
 /*    background-color: #d1ffbd;*/
 /*}*/
 .dragging {
     background-color: #fef983;
 }
 .reverted {
     background-color: #ffb8cd;
 }
 .dropped {
     background-color: #207431;
 }
 .drop-player {
     margin: 4px;
     padding: 4px;
     font-weight: bold;
     background-color: #ffffff;
     border: black 1px dashed;
 }
 .team {
     margin: 10px;
     padding: 10px;
     font-weight: bold;
     background-color: #aaaaaa;
     height: 101px;
 }
 .team-total {
     font-weight: bold;
     text-align: center;
     vertical-align: middle;
     font-size: xx-large;
 }

</style>

<!--<div class="container">-->
    <form
            id="event-pickteams-form"
            method="post"
            th:action="@{/events/{eventId}/pick-teams(eventId=${event.id})}" th:object="${wrapper}"
            class="form-horizontal"
            role="form">

            <div class="card">
                <div class="card-header  bg-primary">
                    <h3 class="text-center text-light">Pick Teams</h3>
                </div>
                <div class="card-body" >
                    <div class="row" style="font-weight: bold; margin-bottom: 20px;">
                        <span class="col-3" th:text="${event.id}"></span>
                        <span class="col-3" th:text="${event.course.name}"></span>
                        <span class="col-3" th:text="${#temporals.format(event.eventDate,'MM/dd/yyyy')}"></span>
                        <span class="col-3" th:text="${#temporals.format(event.startTime,'hh:mm (a)')}"></span>
                    </div>
                    <div class="row" style="font-weight: bold; margin-bottom: 20px;" th:each=" s : ${moneybackList}">
                            <span th:if="${#strings.containsIgnoreCase(s,'winner')}" th:text="${s}" style="text-align: start; font-weight: bold; background-color: yellow"/>
                            <span th:unless="${#strings.containsIgnoreCase(s,'winner')}" th:text="${s}" style="text-align: start; font-weight: bold;"/>
                    </div>
                    <div class="playerPanel row">
                        <div class="col-3 bg-primary-subtle playerPanel" id="playerlist">
                            <div  th:each="player : ${playerList}">
                                <div th:attr="data-total=${player.total}"
                                     th:id="${#ids.seq('player')}"
                                     class="drag-player rounded-3 ui-widget-content"
                                     th:text="${player.name} + '   ( '+ ${player.total}+' )'"></div>
                            </div>
                        </div>
                        <div class="col-9 bg-primary-subtle" id="teamlist">
                                <div th:attr="data-score=${team.score}"  th:id="${#ids.seq('t')}"
                                     class="row team rounded-3"  th:each="team : *{teams}"  >

                                    <div class="col-3">
                                        <img th:src="@{'/assets/'+${cards[teamStat.index]}}" height="80px" />
                                    </div>
                                    <div class="col-6" >
                                        <div th:id="p1" class="col-12 drop-player rounded-3">player 1 drop</div>
                                        <div th:id="p2" class="col-12 drop-player rounded-3">player 2 drop</div>
                                    </div>
                                    <div class="col-3 dragging team-total" th:field="*{teams[__${teamStat.index}__].score}">0</div>
<!--                                    <input type="text"  th:field="*{{teams[__${teamStat.index}__]}}"/>-->
                                    <input type="hidden"  th:field="*{teams[__${teamStat.index}__].name}"/>
                                    <input type="hidden"  th:field="*{teams[__${teamStat.index}__].team}"  required/>
                                    <input type="hidden"  th:field="*{teams[__${teamStat.index}__].score}" />
                                    <p th:errors="*{teams[__${teamStat.index}__].team}">
                                    </p>


                                </div>

                        </div>
                    </div>

                    </div>

                <div class=" btn-group">
                    <a class="btn btn-secondary" th:href="@{/events/{eventId}(eventId=${event.id})}">Cancel</a>
                    <button  sec:authorize="true"  type="submit" class="btn btn-primary">Save</button>
                </div>
        </div>
</form>
<!--</div>-->
<script th:inline = 'javascript'>

    $(document).ready(function() {

        // class TeamDto {
        //     constructor(name, team, score) {
        //         this.name = name;
        //         this.team = team;
        //         this.score = score;
        //     }
        // }

        $( function() {

            let dragged = null;
            /*<![CDATA[*/
            let teamsModel = [[${wrapper.teams}]];
            /*]]>*/

            $( ".drag-player" ).draggable({
                cursor: 'move',
                revert: 'invalid',
                revertDuration: 200,
                snap: '.drop-player',
                snapMode: 'inner',
                connectToSortable: '.row',

                start: function (event, ui){
                    // alert("i am started    ui = "+ui.value);
                    $(this).addClass('dragging');
                    dragged = $(this);

                },
                // drag: function (event, ui){
                //     // alert("i am started    ui = "+ui.value);
                //     $(this).addClass('dragging');
                //
                // },
                stop: function (event, ui){
                    $(this).toggleClass('dropped',400,'dragging');
                    // $(this).addClass('dropped');
                }
            });

            $( ".drop-player" ).droppable({
                accept: ".drag-player",
                drop: function( event, ui ) {
                    ui.draggable.css('background-color','#9ecba7');
                    $(this).css('background-color','#9ecba7');
                    let dragid = '#'+ui.draggable.attr('id');
                    let playerText = ui.draggable.html();
                    $(this).html(playerText);
                    let dropid = event.target.id;
                    // console.log("dragid: "+dragid);
                    // console.log("playerText: "+playerText);
                    // console.log("dropid: "+dropid);
                    // debugger;
                    var playertotal = ui.draggable.data('total');
                    let team = '#'+$(this).parent().parent().attr('id');
                    // let teamDiv = $(this).parent().parent();
                    // console.log('team: '+team);
                    let idx = team.charAt(2) -1;
                    let teamObj = teamsModel[idx];

                    // console.log('idx: '+idx);
                    // console.log('teamObj: '+teamObj);
                    // console.log('teamDiv: '+teamDiv);
                    let teamscore = $(this).parent().parent().data('score');

                    $(this).parent().parent().data('score', playertotal + teamscore);
                    // $(this).parent().parent().attr('data-score', playertotal + teamscore);
                    $(this).parent().parent().children().slice(2).html(playertotal + teamscore);


                    // console.log('model obj: '+ JSON.stringify(teamObj));
                    teamObj.score = playertotal + teamscore;
                    teamObj.team.push(playerText);
                    // console.log('model obj: '+ JSON.stringify(teamObj));
                    $(this).parent().parent().children().slice(3).val(teamObj.name);
                    $(this).parent().parent().children().slice(4).val(teamObj.team);
                    $(this).parent().parent().children().slice(5).val(teamObj.score);
                    // console.log(JSON.stringify(teamsModel));

                    $(dragid).hide();

                }
            });
        });

        $("#event-pickteams-form").validate(
            {
                rules: {
                    teams: {required: true}
                },
                messages: {
                    teams: {required: "Team should not be empty."}
                },
                submitHandler: function (form) {
                    // return false;
                    form.submit();
                }
            });

    });



</script>
</body>