<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras.spring-security"
        layout:decorate="~{layout}">
<head>
    <title>Event Add</title>
</head>
<body layout:fragment="body">
<style>
    .main {
        /*padding: 80px 5px;*/
    }
    .panel {
        float: left;
        width: 50%;
        padding: 5px;
    }
    .playerPanel {
        font-size: small;
    }

    .btn-sml {
        text-align-all: inherit;
        font-size: small;
    }

</style>

<div class="container">
    <div class="main">
        <form
                id="add-event-form"
                method="post"
                th:action="@{/events/add}" th:object="${event}"
                class="form-horizontal"
                role="form">

            <div class="row">

                <div class="col-md-7">
                    <div th:if="${#fields.hasAnyErrors()}">
                        <div class="alert alert-danger">
                            Fix errors to create this event.
                        </div>
                    </div>
                    <div th:if="${param.success}">
                        <div class="alert alert-info">You've created a new Event.</div>
                    </div>
                    <div>

                        <div class="card">
                            <div class="card-header  bg-primary">
                                <h3 class="text-center text-light">Add New Event</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                        <div class="mb-3">
                                            <i>
                                                <div th:text="*{id}"></div>
                                            </i>
                                        </div>
                                        <div class="mb-3">
                                            <label for="course" class="control-label">Course</label>
                                            <div class="mb-3">
                                                <select name="course" id="course" th:field="*{course}" class="form-control ">
                                                    <option th:each="courseOpt : ${courses}"
                                                            th:value="${courseOpt.id}" th:text="${courseOpt.name}"></option>
                                                </select>
                                                <p th:errors="*{course}" class="error"
                                                   th:if="${#fields.hasErrors('course')}">
                                                </p>

                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="eventdate" class="control-label">Event Date</label>
                                            <input type="date" autofocus
                                                   id="eventdate"
                                                   name="eventdate"
                                                   class="form-control"
                                                   placeholder="Event Date"
                                                   th:field="*{eventDate}"
                                            />
                                            <p th:errors="*{eventDate}" class="error"
                                               th:if="${#fields.hasErrors('eventDate')}">
                                            </p>

                                        </div>

                                        <div class="mb-3">
                                            <label for="starttime" class="control-label">Start Time</label>
                                            <input type="time"
                                                   id="starttime"
                                                   name="startime"
                                                   class="form-control"
                                                   placeholder="Starting Time"
                                                   th:field="*{startTime}"
                                            />
                                            <p th:errors="*{startTime}" class="error"
                                               th:if="${#fields.hasErrors('startTime')}">
                                            </p>

                                        </div>

                                        <div class="mb-3">
                                            <label for="numOfTimes" class="control-label"># of Tee Times</label>
                                            <input list="numberList"
                                                   id="numOfTimes"
                                                   name="numOfTimes"
                                                   class="form-control"
                                                   placeholder="Number of Tee Times"
                                                   th:field="*{numOfTimes}"
                                            />
                                            <datalist id="numberList">
                                                <option value="1"/>
                                                <option value="2"/>
                                                <option value="3"/>
                                                <option value="4"/>
                                                <option value="5"/>
                                                <option value="6"/>
                                            </datalist>
                                            <p th:errors="*{numOfTimes}" class="error"
                                               th:if="${#fields.hasErrors('numOfTimes')}">
                                            </p>
                                        </div>

                                        <div class="mb-3">
                                            <label for="status" class="control-label">Event Status</label>
                                            <select name="status" id="status" th:field="*{status}" class="form-control ">
                                                <option th:each="statusOpt : ${T(com.billyclub.points.model.EventStatus).values()}"
                                                        th:value="${statusOpt.name}" th:text="${statusOpt.name}"></option>
                                            </select>
                                            <p th:errors="*{status}" class="error"
                                               th:if="${#fields.hasErrors('status')}">
                                            </p>

                                        </div>

                                    <div class="mb-3 ">
                                        <a type="button" class="btn btn-secondary" th:href="@{/events/current}"
                                           style="float: left; margin: 15px;">Cancel</a>
                                        <button type="submit" class="btn btn-primary" style="float: right; margin: 15px;">Save</button>
                                    </div>

                                 </div>
                            </div>
                    </div>
                </div>
            </div><!-- end row -->
        </form>
    </div>
</div>
<script>
    $(document).ready(function() {

        $('#eventdate').datepicker({maxDate : new Date()});

        $("#add-event-form").validate({
            rules:{
                course: "required",
                eventDate: {
                    required: true
                    ,date: true
                    ,futureOrPresent: true
                },
                startTime: "required",
                numOfTimes: {
                    required: true
                    , digits: true
                    , min: 1
                    , max: 5
                },
                status: "required"
            },
            messages: {
                course: "Course should not be empty.",
                eventDate: {
                    required: "Event Date should not be empty. "
                    ,date:"Please enter a valid date (mm/dd/yyyy)."
                    ,futureOrPresent: "Event Date cannot be in the past."
                },
                startTime: "Start Time should not be empty.",
                numOfTimes: {
                    required: "# Tee Times should not be empty."
                    , digits: "Numbers only, please."
                    , min: "Must be greater than 0."
                    , max: "Must be value 1 to 5."
                } ,
                status: "Status should not be empty."
            },
            submitHandler: function (form){
                // return false;
                form.submit();
            }
        });
    });

    $.validator.addMethod('futureOrPresent', function(value, element){
        // alert("custom addMethod  value: "+value+"   element: "+element);
        if(new Date(value) >= new Date()) {
            // alert("date not in future.")
            return true;
        }else{
            return false;
        }
    },"Event date must be today or future date. ");



</script>
</body>