<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras.spring-security"
        layout:decorate="~{layout}">
<head>
    <title>Event Detail</title>

</head>
<body layout:fragment="body">
<style>
    .main {
        /*padding: 80px 5px;*/
    }
    .scatPanel table {
        float: left;
        width: 50%;
        padding: 5px;
    }
</style>

    <div class="main" style="border: 0px solid yellow">
        <form
                method="post"
                th:action="@{/events/{id}/addMe(id=${event.id})}" th:object="${event}"
                class="form-horizontal"
                role="form">

            <div class="row" style="border: 0px solid green">

                <div class="col-md-12" style="border: 0px solid red">
                    <div th:if="${#fields.hasAnyErrors()}">
                        <div class="alert alert-danger">
                            <ul>
                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="card">
                            <div class="card-header bg-primary">
                                <h3 class="text-center text-light">Event Detail</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <a class="nav-link btn btn-sm bg-secondary text-light" th:href="${current}?@{/events/current}:@{/events/past}">To List</a>
                                        <div th:text="${event.id}" style="font-style: italic"/>
                                        <div class="mb-3">
                                            <label for="course" class="control-label">Course</label>
                                            <div class="mb-3">
                                                <select name="course" id="course" th:field="*{course}" class="form-control input-" disabled>
                                                    <option th:each="courseOpt : ${courses}"
                                                            th:value="${courseOpt.id}" th:text="${courseOpt.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="eventDate" class="control-label">Event Date</label>
                                            <input type="text"
                                                   id="eventDate"
                                                   name="eventDate"
                                                   class="form-control"
                                                   placeholder="Event Date"
                                                   th:field="*{eventDate}"
                                                   style="font-weight: bolder" readonly
                                            />
                                        </div>
                                        <div class="mb-3">
                                            <label for="startTime" class="control-label">Start Time</label>
                                            <input type="text"
                                                   id="startTime"
                                                   name="startTime"
                                                   class="form-control"
                                                   placeholder="Start Time"
                                                   th:field="*{startTime}"
                                                   readonly
                                            />
                                        </div>
                                        <div class="mb-3">
                                            <label for="numOfTimes" class="control-label"># of Tee Times</label>
                                            <input type="text"
                                                   id="numOfTimes"
                                                   name="numOfTimes"
                                                   class="form-control"
                                                   placeholder="# of Times"
                                                   th:field="*{numOfTimes}"
                                                   readonly
                                            />
                                        </div>
                                        <div class="mb-3">
                                            <label for="status" class="control-label">Status</label>
                                            <div class="mb-3">
                                                    <select name="status" id="status" th:field="*{status}" class="form-control " disabled>
                                                        <option th:each="statusOpt : ${T(com.billyclub.points.model.EventStatus).values()}"
                                                                th:value="${statusOpt.name}" th:text="${statusOpt.name}"></option>
                                                    </select>
                                            </div>
                                        </div>
                                        <div th:if="${! event.status.name().equals('COMPLETED')}">

                                            <button sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"
                                                    th:if="${!#lists.contains(names, loginUser.name) &&
                                                        (event.status.name().equals('OPEN') || event.status.name().equals('STARTED'))}"
                                                    type="submit" class="btn btn-primary">Add me to Event <i class="fa-solid fa-user-plus"></i></button>

                                            <a th:href="@{/events/{eventId}/calc-scoring(eventId=${event.id})}"
                                               th:if="${event.isAllScoresIn}"
                                               class="btn btn-primary">Calculate Scores <i class="fa-solid fa-calculator"></i></a>

                                            <a sec:authorize="hasRole('ROLE_ADMIN')" data-bs-toggle="modal"
                                               th:if="${event.status.name().equals('OPEN') || event.status.name().equals('STARTED')}"
                                               data-bs-target="#userPickListModal" class="btn btn-primary ">Add Players to this event <i class="fa-solid fa-users"></i></a>

                                            <a sec:authorize="false and hasRole('ROLE_ADMIN')" data-bs-toggle="modal"
                                               data-bs-target="#postMultipleScoresModal" class="btn btn-primary">Post for All in Event</a>

                                            <a sec:authorize="hasRole('ROLE_ADMIN')" data-bs-toggle="modal"
                                               data-bs-target="#editEventModal" class="btn btn-primary ">Edit Event <i class="fa-solid fa-pen"></i></a>

                                        </div>
                                    </div> <!-- end row -->

                                    <div class="col-sm-7 alert alert-info" th:if="${event.status.name().equals('COMPLETED')}">
                                        <table class="col-2 table table-striped table-bordered table-hover table-light">
                                            <thead class="table-header">
                                            <tr>
                                                <th th:text="${(eventPlayers.size lt 8)?'Winner Takes All':'Team Results'}"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each=" s : *{eventWinners}">
                                                <td th:text="${s}"/>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-7 scatPanel alert alert-info" th:if="${event.status.name().equals('COMPLETED')}">
                                        <table class="col-2 table table-striped table-bordered table-hover table-light">
                                            <thead class="table-header">
                                            <tr>
                                                <th>Scat winners</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each=" s : *{scatWinners}">
                                                <td th:text="${s}"/>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="col-2 table table-striped table-bordered table-hover table-light">
                                            <thead class="table-header">
                                            <tr>
                                                <th>Scat losers</th>
                                            </tr>
                                            </thead>
                                            <tbody class="playerPanel">
                                            <tr th:each=" s : *{scatSummary}">
                                                <td th:text="${s}"/>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                   <div class="col-sm-7 alert alert-info">
                                        <table class="col-2 table table-striped table-bordered table-hover table-light">
                                            <thead class="table-header">
                                            <tr>
                                                <th>#</th>
                                                <th>Players</th>
                                                <th>Quota</th>
                                                <th th:if="${! event.status.name().equals('OPEN')}">Points</th>
                                                <th th:if="${! event.status.name().equals('OPEN')}">Eagles</th>
                                                <th th:if="${! event.status.name().equals('OPEN')}">Birds</th>
                                                <th th:if="${! event.status.name().equals('OPEN')}">Total</th>
                                                <th th:if="${! event.status.name().equals('OPEN')}">Adjust</th>
                                                <th th:if="${event.status.name().equals('OPEN')}">Time Entered</th>
                                                <th th:if="${! event.status.name().equals('COMPLETED')}">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody class="playerPanel">
                                            <tr th:each="player : ${eventPlayers}" class="d-sm-table-row">

                                                <td th:text="${playerStat.index +1}+')'"></td>
                                                <td th:text="${player.name}"><span th:text="${player.id}"></span></td>
                                                <td th:text="${player.quota}"/>
                                                <td th:if="${! event.status.name().equals('OPEN')}" th:text="${player.scoreForEvent}"/>
                                                <td th:if="${! event.status.name().equals('OPEN')}" th:text="${player.eagles}"/>
                                                <td th:if="${! event.status.name().equals('OPEN')}" th:text="${player.birdies}"/>
                                                <td th:if="${! event.status.name().equals('OPEN')}" th:text="${player.total}"/>
                                                <td th:if="${! event.status.name().equals('OPEN')}" th:text="${player.adjustment}"/>
                                                <td th:if="${event.status.name().equals('OPEN')}" th:text="${#temporals.format(player.timeEntered,'MM/dd/yyyy hh:mm (a)')}"/>
                                                <td th:if="${! event.status.name().equals('COMPLETED')}">
                                                    <a th:href="@{/events/{eventId}/removeMe/{playerId}(eventId=${event.id}, playerId=${player.id})}"
                                                       th:if="(${event.status.name().equals('OPEN')} and ${loginUser.name == player.name}) or ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                       class="btn btn-danger">Delete <i class="fa-solid fa-trash-can"> </i></a>

                                                    <a th:if="(${event.status.name().equals('STARTED')} or ${event.status.name().equals('POSTING')})   and (${loginUser.name == player.name} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')')})"
                                                            data-bs-toggle="modal" data-bs-target="#postScoreModal" class="btn btn-success btn-modal-postscore"
                                                            th:attr="data-player-id=${player.id}" >Post<i class="fa-solid fa-arrow-up-from-bracket"></i></a>

                                                </td>
<!--                                                <td sec:authentication="principal"></td>-->
<!--                                                <td th:text="${loginUser.name}"></td>-->
<!--                                                <td th:text="${playerStat.index}"></td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
<br>
                                    <div class="col-sm-7 alert alert-danger" th:if="${waitList.size gt 0} and ${event.status.name().equals('OPEN')}">
                                        <table class="col-2 table table-striped table-bordered table-hover table-light">
                                            <thead class="table-header">
                                            <tr>
                                                <th>Wait List</th>
                                                <th>Time Entered</th>
                                                <th>Actions</th>
<!--                                                <th>Index</th>-->
                                            </tr>
                                            </thead>
                                            <tbody class="playerPanel">
                                            <tr th:each="player : ${waitList}">

                                                <td th:text="${player.name}"/>
                                                <td th:text="${#temporals.format(player.timeEntered,'MM/dd/yyyy hh:mm (a)')}"/>
                                                <td><a th:href="@{/events/{eventId}/removeMe/{playerId}(eventId=${event.id}, playerId=${player.id})}"
                                                       th:if="${loginUser.name == player.name} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                       class="btn btn-danger">Delete <i class="fa-solid fa-trash-can"> </i></a>
                                                </td>
<!--                                                <td sec:authentication="principal"></td>-->
<!--                                                <td th:text="${loginUser.name}"></td>-->
<!--                                                <td th:text="${playerStat.index}"></td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end row -->
        </form>
        <div layout:insert="~{usersPickList}"></div>

        <div layout:insert="~{postScoreModal}"></div>
        <div layout:insert="~{event-edit-modal}"></div>

<!--        <div layout:insert="~{postMultipleScoresModal}"></div>-->


    </div>
<script>
    $(document).on("click",".btn-modal-postscore", function(){
        $('.modal-postscore-row').toggle(true);
        var playerid = $(this).data('player-id');
        $('.modal-postscore-row form')
            .filter(':not(form[action$='+playerid+'])')
            .parent().toggle(false);
    });
    $(document).on("click","#select-all-users", function(){
        if(!$('.form-check-input').prop('checked')){
            $('.form-check-input').prop('checked', true);
        }else{
            $('.form-check-input').prop('checked', false);
        }
    });
</script>
</body>