<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras.spring-security"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body layout:fragment="body">
<style>
    .main {
        padding: 80px 5px;
    }
</style>
<div class="main">
    <div class="row">
        <h1 class="text-center"> Welcome to Billy Club Points Game </h1>
    </div>
   <div class="row">
        <h2 class="text-center"> This is the home page... do something, or go home. </h2>
    </div>

</div>
</body>
</html>