<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras.spring-security"
>
<head >
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />

  <link th:href="@{/css/bootstrap.css}" rel="stylesheet"  />
  <link th:href="@{/css/styles.css}" rel="stylesheet" />

  <title layout:title-pattern="$CONTENT_TITLE">Billy Club Points</title>

  <script th:src="@{/js/jquery-3.6.3.min.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/scripts.js}"></script>
  <script src="https://kit.fontawesome.com/fda5db5ece.js" crossorigin="anonymous"></script>

</head>
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" th:fragment="header">
  <div class="container" style="border: 1px solid purple">
    <img src="/assets/favicon.ico" width="60px" height="60px" class="img-thumbnail">
    <div>
    <span><a class="navbar-brand" th:href="@{/}">Billy Club Points Game</a></span>
    <div sec:authorize="isAuthenticated()" style="font-size: x-small" >Logged in as:&nbsp; <span sec:authentication="name"></span> </div>
    <div sec:authorize="isAuthenticated()" style="font-size: x-small" >Authorities:&nbsp; <span sec:authentication="principal.authorities"></span> </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-sm-1">
        <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Events</a>
          <ul  class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
            <li><a class="dropdown-item" th:href="@{/events/current}">Current Events</a></li>
            <li><a class="dropdown-item" th:href="@{/events/past}">Past Events</a></li>
            <li sec:authorize="isAuthenticated() && hasRole('ROLE_ADMIN')"><a class="dropdown-item" th:href="@{/events/add}">Add Event</a></li>
          </ul>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/profiles}">Profile</a></li>
        <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/users}">User List</a></li>
        <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/courses}">Course List</a></li>
        <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link btn btn-primary text-light" th:href="@{/login}">Login</a></li>
        <li sec:authorize="!isAuthenticated()"  class="nav-item"><a class="nav-link btn btn-primary text-light" th:href="@{/register}">Register</a></li>
        <li sec:authorize="isAuthenticated()"  class="nav-item"><a class="nav-link btn btn-primary text-light" th:href="@{/logout}">Logout</a></li>
      </ul>
    </div>
    <img src="/assets/smailsHat.jpg" width="60px" height="60px" class="img-thumbnail">
  </div>
</nav>
<body layout:fragment="body">


</body>


<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
  <div class="container px-5">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
      <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; NearPerfect Software Solutions</div></div>
      <div class="col-auto">
        <a class="link-light small" href="#!">Privacy</a>
        <span class="text-white mx-1">&middot;</span>
        <a class="link-light small" href="#!">Terms</a>
        <span class="text-white mx-1">&middot;</span>
        <a class="link-light small" href="#!">Contact</a>
      </div>
    </div>
  </div>
</footer>

</html>