<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Login</title>
</head>
<body layout:fragment="body">
<style>
    .main {
        /*padding: 80px 5px;*/
    }
    .red {
        color:red;
    }

</style>

<div class="main">
    <form
            method="post"
            th:action="@{/login}" th:object="${login}"
            class="form-horizontal"
            role="form"
            id="login-form">

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div th:if="${param.error}">
                <div class="alert alert-danger">Invalid Email or Password.</div>
            </div>

            <div th:if="${param.logout}">
                <div class="alert alert-success">You have been logged out.</div>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully created a user account! Now login.</div>
            </div>
            <div th:if="${param.changepass}">
                <div class="alert alert-info">You've successfully changed your password.</div>
            </div>
            <div class="login-form">
                <div class="card">
                <div class="card-header bg-primary">
                    <h3 class="text-center text-light">Login Form</h3>
                </div>
                <div class="card-body">
                         <div class="mb-3">
                            <label for="username">Username <span class="red">*</span></label>
                            <input type="text"
                                   id="username"
                                   name="username"
                                   class="form-control"
                                   placeholder="Username" autofocus required />
                             <p th:errors="*{firstName}" class="error"
                                th:if="${#fields.hasErrors('username')}">
                             </p>

                         </div>

                        <div class="mb-3">
                            <label for="password" class="control-label">Password <span class="red">*</span></label>
                            <input type="password"
                                   id="password"
                                   name="password"
                                   class="form-control"
                                   placeholder="Password" required />
                            <p th:errors="*{password}" class="error"
                               th:if="${#fields.hasErrors('password')}">
                            </p>

                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Login</button>
                            <a class="btn btn-secondary" th:href="@{/forgot-password}" style="float: right;">Forgot password?</a>
                        </div>

                </div>
            </div>
            </div>
        </div>
    </div>
    </form>
</div>
<script>

    $(document).ready(function() {

        $("#login-form").validate({
            rules:{
                username: "required",
                password: "required"
            },
            messages: {
                username: "Username should not be empty. ",
                password: "Password should not be empty. "
            },
            submitHandler: function (form){
                form.submit();
            }
        });
    });

</script>

</body>
</html>