<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras.spring-security"
        layout:decorate="~{layout}">
<head>
    <title>Profile</title>
</head>
<body layout:fragment="body">
<style>
    .main {
        padding: 80px 5px;
    }
</style>

<div class="container">
    <div class="main">
        <form
                method="post"
                th:action="@{/profiles/edit}" th:object="${loginUser}"
                class="form-horizontal"
                role="form"
        >

            <div class="row">

                <div class="col-md-12">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid Email and Password.</div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-success">You have been logged out.</div>
                    </div>
                    <div th:if="${param.success}">
                        <div class="alert alert-info">You've successfully created a user account! Now login.</div>
                    </div>
                    <div>
                        <div class="card">
                            <div class="card-header  bg-primary">
                                <h3 class="text-center text-light">Profile</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-5">

                                        <div class="mb-3">
                                            <i>
                                                <div th:text="*{id}"></div>
                                            </i>
                                        </div>
                                        <div class="mb-3">
                                            <label for="username" class="control-label">Username</label>
                                            <input type="text"
                                                   id="username"
                                                   name="username"
                                                   class="form-control"
                                                   placeholder="Username"
                                                   readonly
                                                   th:field="*{username}"
                                            />
                                        </div>

                                        <div class="mb-3">
                                            <label for="name" class="control-label">Name</label>
                                            <input type="text"
                                                   id="name"
                                                   name="name"
                                                   class="form-control"
                                                   placeholder="Name"
                                                   readonly
                                                   th:field="*{name}"
                                            />
                                        </div>

                                        <div class="mb-3">
                                            <label for="email" class="control-label">Email</label>
                                            <input type="text"
                                                   id="email"
                                                   name="email"
                                                   class="form-control"
                                                   placeholder="Email"
                                                   readonly
                                                   th:field="*{email}"
                                            />
                                        </div>

                                        <div class="mb-3">
                                            <label for="points" class="control-label">Current Points</label>
                                            <input type="text"
                                                   id="points"
                                                   name="points"
                                                   class="form-control"
                                                   placeholder="Current Points"
                                                   readonly
                                                   th:field="*{points}"
                                            />
                                        </div>



                                            <a th:href="@{/reset-password}" class="btn-sml btn btn-primary">Change Password</a>
<!--                                            <a data-bs-toggle="modal"-->
<!--                                               data-bs-target="#userPickListModal" class="btn-sml btn btn-primary ">Change Password</a>-->

                                        </div>

                                    <div class="col-sm-3">
                                        <table class="table-sm table-striped table-bordered table-hover table-light">
                                            <thead class="table-header">
                                            <tr>
                                                <th>Roles</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="role : *{roles}">


                                                <td th:text="${role.name}"/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end row -->
        </form>
    </div>
</div>
</body>