<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Reset Password</title>
</head>
<body layout:fragment="body">
<style>
    .main {
        padding: 125px 10px;
    }

    .red {
        color: red;
    }

</style>

<div class="main">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div th:if="${error != null}">
                <div class="alert alert-danger">[[${error}]]</div>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">Reset password link has been sent to your email.</div>
            </div>
            <div class="login-form">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Reset Password Form</h3>
                    </div>
                    <div class="card-body">
                        <form
                                method="post"
                                th:action="@{/reset-password}"
                                class="form-horizontal"
                                role="form">
                            <input type="hidden" name="token" th:value="${token}">
                            <input type="hidden" name="logged-in-username" th:value="${loggedInUsername}">
                            <div class="mb-3">
                                <label for="password">Password <span class="red">*</span></label>
                                <input type="password"
                                       id="password"
                                       name="password"
                                       class="form-control"
                                       placeholder="Enter Password" required autofocus/>
                            </div>
                            <div class="mb-3">
                                <label for="confirmpassword">Confirm New Password <span class="red">*</span></label>
                                <input type="password"
                                       id="confirmpassword"
                                       name="confirmpassword"
                                       class="form-control"
                                       placeholder="Confirm New Password" required
                                       oninput="checkPasswordMatch(this);"/>
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function checkPasswordMatch(fieldconfirmpassword){
        if(fieldconfirmpassword.value != $("#password").val()){
            fieldconfirmpassword.setCustomValidity("Passwords do NOT match.");
        } else {
            fieldconfirmpassword.setCustomValidity("");
        }
    }
</script>
</body>
</html>