<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Reset Password</title>
</head>
<body layout:fragment="body">
<style>
    .main {
        padding: 80px 5px;
    }

    .red {
        color: red;
    }

</style>

<div class="main">
    <form
            method="post"
            th:action="@{/reset-password}"
            class="form-horizontal"
            role="form" th:object="${pwpair}">

    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div th:if="${#fields.hasAnyErrors()}">
                <div class="alert alert-danger">
                    <ul>
                        <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                    </ul>
                </div>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">Reset password link has been sent to your email.</div>
            </div>
            <div class="login-form">
                <div class="card">
                    <div class="card-header bg-primary ">
                        <h3 class="text-center text-light">Reset Password Form</h3>
                    </div>
                    <div class="card-body">
                            <input type="hidden" name="token" th:value="${token}">
                            <input type="hidden" name="logged-in-username" th:value="${loggedInUsername}">
                            <div class="mb-3">
                                <label for="password">Password <span class="red">*</span></label>
                                <input type="password"
                                       id="password"
                                       name="password"
                                       class="form-control"
                                       th:field="*{password}"
                                       placeholder="Enter Password" required autofocus/>
                                <p th:errors="*{password}" class="text-danger"
                                   th:if="${#fields.hasErrors('password')}">
                                </p>

                            </div>
                            <div class="mb-3">
                                <label for="confirmpassword">Confirm New Password <span class="red">*</span></label>
                                <input type="password"
                                       id="confirmpassword"
                                       name="confirmpassword"
                                       class="form-control"
                                       th:field="*{confirmPassword}"
                                       placeholder="Confirm New Password" required
                                      />
                                <p th:errors="*{confirmPassword}" class="text-danger"
                                   th:if="${#fields.hasErrors('confirmPassword')}">
                                </p>
                            </div>

                            <div class="mb-3">
                                <a class="btn btn-secondary" th:href="@{/profiles}" >Cancel</a>
                                <button type="submit" class="btn btn-primary" style="float:right;">Change Password</button>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<script>
    function checkPasswordMatch(fieldconfirmpassword){
        if(fieldconfirmpassword.value != $("#password").val()){
            fieldconfirmpassword.setCustomValidity("Passwords do NOT match.");
        } else {
            fieldconfirmpassword.setCustomValidity("");
        }
    }
</script>
</body>
</html>