<form th:action="@{/events/{id}/addPlayersToEvent(id=${event.id})}" method="post" th:object="${userPickList}">

<div class="modal fade" id="userPickListModal" tabindex="-1" aria-labelledby="userPickListModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="userPickListModalLabel">User Pick List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <div th:if="${userPickList.size lt 1}"><p>All active players already in this Event!!</p></div>
                    <tr th:each="user: ${userPickList}">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:value="${user.id}"
                                   id="userList" name="userList" th:field="${selectedUsers.multiUsersCheckboxes}">
                            <label class="form-check-label" for="userList" th:text="${user.name}"/>
<!--                            <div th:text="${userStat.index}"/>-->
                        </div>
                    </tr>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Selected</button>
            </div>
        </div>
    </div>
</div>
</form>
